.form-container {
  text-align: center;
}

.search-form {
  width: 40% !important;
  margin-right: 15px;
}

.search-btn {
  padding: 8px 35px;
}

.bg-faded {
    background-color: #E9E9F1;
}

.prof-pic {
  width: 100%;
}

.github-content {
  margin-top: 50px;
}

.repo-name, h4 {
  font-weight: bold;
}
